.PostButton {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid lime;
  color: lime;
  padding: 15px 32px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  outline: none;
}

#add {
  background-color: black;
}

#edit {
  background-color: black;
}

#delete {
  background-color: black;
}

#save {
  background-color: black;
}