.text {
  width: 50em;
  height: 20em;
  border: 1px solid lime;
  border-radius: 8px;
  color: lime;

  font-family: 'Press Start 2P', cursive;
  background-color: black;
  padding: 1em;
  outline: none;
  resize: none;
}

.title {
  width: 50em;
  height: 1em;
  border: 1px solid lime;
  border-radius: 8px;
  color: lime;
  margin-bottom: 20px;
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  padding: 1em;
  outline: none;
  resize: none;
}

p {
  width: 50em;
  background-color: black;
  color: lime;
  display: inline-block;
  white-space: pre-line;
}