.PostButton {
  margin-left: 10px;
  margin-right: 10px;
}

#add {
  background-color: darkseagreen;
}

#edit {
  background-color: lightyellow;
}

#delete {
  background-color: indianred;
}

#save {
  background-color: cornflowerblue;
}